<header>
    <nav class="px-10 py-2 flex gap-6 justify-between items-center">
        <img src="assets/icons/logo.svg" alt="Logo">
        <ul class="flex gap-12 font-bold">
            <li><a href="" class="cursor-pointer">Início</a></li>
            <li><a href="" class="cursor-pointer">Produtos</a></li>
            <li><a href="" class="cursor-pointer">Pagamentos</a></li>
            <li><a href="" class="cursor-pointer">Sobre</a></li>
        </ul>
        <a href="" class="cursor-pointer text-2xl"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>
