<header>
    <nav class="px-10 py-2 flex gap-2 justify-between items-center max-md:px-5 max-md:hidden">
        <img class="w-24 max-md:w-20 max-sm:w-16" src="assets/icons/logo.svg" alt="Logo">
        <ul class="flex justify-center items-center gap-16 font-bold">
            <li><a href="" class="cursor-pointer text-18px">Início</a></li>
            <li><a routerLink="/" fragment="products" class="cursor-pointer text-18px">Produtos</a></li>
            <li><a href="#products" class="cursor-pointer text-18px">Pagamentos</a></li>
            <li><a href="" class="cursor-pointer text-18px">Sobre</a></li>
        </ul>
        <a href="" class="cursor-pointer text-20px"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>
