<section class="mt-14" id="about">
    <div class="flex justify-center items-center mb-4">
        <img class="w-6" src="assets/icons/star.svg" alt="Star">
        <p class="ml-2">Sobre</p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-50px text-center">Sobre Nós</p>
    </div>

    <div class="grid grid-cols-2 gap-28 mt-8 max-md:grid-cols-1 max-md:gap-20">
        <div class="aspect-w-1 aspect-h-1">
            <img class="object-cover w-full rounded-md max-md:w-full" src="assets/images/about.webp" alt="About Img">
        </div>
        <div class="flex flex-col gap-8 text-justify">
            <p>Bem-vindos à Encantos Artesanais, onde a magia dos sonhos infantis ganha vida através de nossas bonecas
            feitas à mão. Cada peça é cuidadosamente elaborada com amor e dedicação, refletindo a delicadeza e o encanto
            que apenas um toque artesanal pode proporcionar.</p>

            <p>Na Encantos Artesanais, nossa missão é criar bonecas que inspirem a imaginação e tragam alegria para as
            crianças. Acreditamos que cada boneca tem uma história única para contar e pode se tornar uma companheira
            querida na jornada de crescimento dos pequenos.</p>

            <p>Nossas bonecas são feitas com tecido helanquinha, roupas de tecido tricoline e cabelos de lã. As cores,
            tanto das roupinhas como do cabelo, são à critério de cada cliente. As bonecas variam conforme as encomendas
            feitas pelos clientes e o prazo para serem produzidas. Temos algumas à pronta entrega, o que torna a entrega
            mais rápida. As entregas são feitas dependendo da região, em Pedro II, Piauí. Para confirmar a entrega e a
            forma de pagamento, entre em contato pelo WhatsApp <span class="underline">(86 99843-6269)</span>.</p>

            <p>Ao adicionar o produto em seu carrinho, você será direcionado ao nosso contato no WhatsApp para realizar a
            compra. Desde já, agradecemos à preferência.</p>
        </div>
    </div>
</section>