<footer class="w-full mt-32 bg-q-color">

    <div class="flex justify-between max-md:flex-col max-md:gap-8">
        <div class="flex flex-col">
            <h1 class="text-35px">Encantos Artesanais</h1>
            <p class="text-18px max-w-full break-words">Fornecemos peluches feitos à mão para<br> deixar seu filho feliz.</p>
        </div>
        <div class="flex gap-12">
            <div class="flex flex-col items-center max-md:items-start">
                <h1 class="text-18px font-bold">Redes Sociais</h1>
                <div class="flex gap-4">
                    <a href="https://www.instagram.com/encantosartesanaisp2/" target="_blank" class="flex items-center justify-center rounded-md bg-p-color w-8 h-8 p-6 cursor-pointer">
                        <i class="fa-brands fa-instagram text-40px"></i>
                    </a>
                    <a href="https://wa.me/5586998436269" target="_blank" class="flex items-center justify-center rounded-md bg-p-color w-8 h-8 p-6 cursor-pointer">
                        <i class="fa fa-whatsapp text-40px"></i>
                    </a>                    
                </div>
            </div>
        </div>

        <div class="flex">
            <div class="flex flex-col items-center max-md:items-start">
                <h1 class="text-18px font-bold">Menu</h1>
                <ul class="flex flex-col gap-2 text-left">
                    <li><a (click)="scrollTo('home')" class="cursor-pointer text-18px">Início</a></li>
                    <li><a (click)="scrollTo('products')" class="cursor-pointer text-18px">Produtos</a></li>
                    <li><a (click)="scrollTo('payments')" class="cursor-pointer text-18px">Pagamentos</a></li>
                    <li><a (click)="scrollTo('about')" class="cursor-pointer text-18px">Sobre</a></li>
                </ul>
            </div>
        </div>

        <div class="flex">
            <div class="flex flex-col items-center max-md:items-start">
                <h1 class="text-18px font-bold">Pagamentos</h1>
                <ul class="flex flex-col gap-2 justify-center text-left">
                    <li class="text-18px">Espécie</li>
                    <li class="text-18px">Pix</li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="w-full px-4 my-4 opacity-20">
    <div class="flex justify-between text-sm">
        <p class="text-left">© Cíntia Carreiro - Pedro II - PI</p>
        <p class="text-right">Website Created by: Ruan Victor</p>
    </div>
</footer>
