<section class="w-screen h-3/5 flex flex-col justify-center items-center gap-4">
    <div class="flex justify-center items-center text-center">
        <span class="bg-p-color w-2 h-4 mr-2"></span>
        <p>Encantos Artesanais - Cíntia Carreiro</p>
    </div>
    <div class="flex items-center justify-center text-center">
        <h1 class="text-4xl">Redescubra sua <span class="font-vibur text-5xl text-p-color">Infância</span><br>Adote uma Boneca</h1>
    </div>
    <div class="flex items-center justify-center text-center">
        <p class="text-p-color">Fornecemos peluches feitos à mão para deixar seu filho feliz.</p>
    </div>
    <button class="p-4 rounded-md text-q-color bg-p-color">Comprar <i class="ml-2 fa-solid fa-arrow-down"></i></button>
</section>
