<section class="mb-10" id="products">
    <div class="flex justify-center items-center mb-4">
        <img class="w-6" src="assets/icons/star.svg" alt="Star">
        <p class="ml-2">Produtos</p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-50px text-center">Nossos Produtos Mais Vendidos</p>
    </div>

    <div class="grid grid-cols-2 gap-44 mt-8 max-md:grid-cols-1 max-md:gap-14">
        <div *ngFor="let produto of produtos" class="flex bg-p-color rounded-md p-6">
            <div class="flex flex-col items-start gap-4">
                <h1 class="font-bold text-35px">{{ produto.nome }}</h1>
                <div class="flex">
                    <p>{{ produto.tamanho }} - {{ produto.tecido }}</p>
                </div>
                <h1 class="font-bold text-30px">R$ {{ produto.preco.toFixed(2) }}</h1>
            </div>
        </div>
    </div>
</section>