<section class="my-44" id="products">
    <div class="flex justify-center items-center mb-4">
        <img class="w-6" src="assets/icons/star.svg" alt="Star">
        <p class="ml-2">Produtos</p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-50px text-center">Nossos Produtos Mais Vendidos</p>
    </div>

    <div class="grid grid-cols-2 gap-28 mt-8 max-lg:grid-cols-1 max-md:gap-24">
        <div *ngFor="let produto of produtos" class="flex justify-between items-center h-48 bg-p-color rounded-md shadow-md p-6 relative">
            <div class="flex flex-col items-start gap-4">
                <h1 class="font-bold text-35px">{{ produto.nome }}</h1>
                <div class="flex">
                    <p>{{ produto.tamanho }} - {{ produto.tecido }}</p>
                </div>
                <h1 class="font-bold text-30px">R$ {{ produto.preco.toFixed(2) }}</h1>
            </div>
            <img class="flex right-0 top-4 w-36 absolute min-2xl:w-44" src="{{ produto.imagem }}" alt="Foto Produto">

            <button (click)="addToCart(produto)" class="flex justify-center items-center w-14 h-14 p-4 -bottom-8 left-6 bg-q-color rounded-full shadow-md absolute cursor-pointer hover:bg-t-color">
                <img src="assets/icons/cart.svg" alt="Cart">
            </button>
        </div>
    </div>
</section>