<section class="mb-14" id="payments">
    <div class="flex justify-center items-center mb-4">
        <img class="w-6" src="assets/icons/star.svg" alt="Star">
        <p class="ml-2">Pagamentos</p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-50px text-center">Formas de Pagamentos</p>
    </div>

    <div class="grid grid-cols-1 gap-28 mt-20 max-md:grid-cols-2 max-md:gap-24">
        <div class="flex items-center relative max-md:flex-col max-md:items-center">
            <hr class="w-full border-t-4 border-dashed border-p-color max-md:hidden">
            <div class="hidden max-md:block border-l-4 border-dashed border-p-color h-80"></div>
            <div class="w-full flex justify-around absolute max-md:w-0 max-md:h-full max-md:gap-20 max-md:flex-col max-md:items-center">
                <div class="flex justify-center items-center w-10 h-10 p-10 bg-p-color rounded-md max-md:flex-col">
                    <h1 class="text-40px text-q-color">01</h1>
                </div>
    
                <div class="flex justify-center items-center w-10 h-10 p-10 bg-p-color rounded-md max-md:flex-col">
                    <h1 class="text-40px text-q-color">02</h1>
                </div>
    
                <div class="flex justify-center items-center w-10 h-10 p-10 bg-p-color rounded-md max-md:flex-col">
                    <h1 class="text-40px text-q-color">03</h1>
                </div>
            </div>
        </div>
        <div class="flex w-full justify-around items-center relative max-md:flex-col  max-md:h-full max-md:items-start max-md:gap-28">
            <h1>Teste</h1>
            <h1>Teste</h1>
            <h1>Teste</h1>
        </div>
    </div>
</section>
